<main>
    <h3>Posts</h3>
    <% if (locals.currentUser && locals.messages && locals.messages.length !==0)
    { %>
    <a href="/messages/new-message" class="create-new-message"
        >Create a new message</a
    >
    <% locals.messages.forEach((message) => { %>
    <article>
        <h4><%= message.title %></h4>
        <p><%= message.text %></p>
        <% if (currentUser.member) { %>
        <p><%= message.author %></p>
        <p><%= message.created_at %></p>
        <% } else { %>
        <p class="hidden-statement">
            The author and timestamp are hidden to non-members!
        </p>
        <% } %> <% if (currentUser.admin) { %>
        <form
            class="delete-form"
            action="/messages/delete-message/<%=message.id%>"
            method="post"
        >
            <button type="submit">Delete Message</button>
        </form>
        <% } %>
    </article>
    <% }); %> <% } else if (locals.currentUser && (!locals.messages ||
    locals.messages.length === 0)) { %>
    <a href="/messages/new-message" class="create-new-message"
        >Create a new message</a
    >
    <article>
        <h3>No messages yet! Be the first to post!</h3>
        <article>
            <h4>Nothing to see here...yet!</h4>
            <p>Write a cool message to get rid of this default post!</p>
        </article>
    </article>
    <% } else { %>
    <h3>You must be logged in to see messages.</h3>
    <article>
        <h4>Nothing to see here...</h4>
        <p>Nope, nothing interesting at all...</p>
    </article>
    <article>
        <h4>Nothing here either.</h4>
        <p>If you really want to see, just sign up or log in!</p>
    </article>
    <article>
        <h4>Or else you'll never see the real messages.</h4>
        <p>And they're pretty awesome!</p>
    </article>
    <% } %>
</main>
